﻿@model WEB_FINAL_PROJECT_YOURTIMETABLE.Models.Job

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Job</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeOfJob)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeOfJob)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Place)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Place)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Done)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Done)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Timetable.ID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Timetable.ID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
