﻿@model WEB_FINAL_PROJECT_YOURTIMETABLE.Models.Job

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Job</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeOfJob)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeOfJob)
            @Html.ValidationMessageFor(model => model.TimeOfJob)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Place)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Place)
            @Html.ValidationMessageFor(model => model.Place)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Done)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Done)
            @Html.ValidationMessageFor(model => model.Done)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimetableID, "Timetable")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TimetableID", String.Empty)
            @Html.ValidationMessageFor(model => model.TimetableID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
