﻿@model Blog_2_2.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account.Email)
    </div>
</fieldset>

@Html.Partial("_addComment",new Blog_2_2.Models.Comment(), ViewData);

<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x=>x.DateCreated).Take(10))
    {
        <div class="display-field">
             <h2>Cách đây: @Html.DisplayFor(x => comment.LastTime) Phút </h2>
        </div>
        
        <div class="display-field">
            Tên: @Html.DisplayFor(x => comment.Author)
        </div>
        
        <div class="display-field">
             @Html.DisplayFor(x => comment.Body)
        </div>
    }
</fieldset>

@Html.Partial("_addTag", new Blog_2_2.Models.Tag(), ViewData);

<fieldset>
    <legend>Tags </legend>
    @foreach (var tag in Model.Tags)
    {
        <div class="display-field">
             @Html.DisplayFor(x =>tag.Content)
        </div>
        
        <div class="display-field">
            @Html.RouteLink(tag.Content, new { Controller = "Tag", Action = "Details", id = tag.TagID });
        </div>
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
