﻿@model WEB_FINAL_PROJECT_YOURTIMETABLE.Models.Advertising

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Advertising</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Advname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Advname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Position)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Position)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
