﻿@model WEB_FINAL_PROJECT_YOURTIMETABLE.Models.Timetable

@{
    ViewBag.Title = "Create";
}

<h2>Tạo lịch biểu mới</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thông tin lịch biểu</legend>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.DayOfTimetable)*@
            Thời Gian
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DayOfTimetable)
            @Html.ValidationMessageFor(model => model.DayOfTimetable)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.NumberOfJob)*@
            Số Lượng Công Việc
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfJob)
            @Html.ValidationMessageFor(model => model.NumberOfJob)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Completion)*@
            Số Công Việc Đã Hoàn Thành
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Completion)
            @Html.ValidationMessageFor(model => model.Completion)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Score)*@
            Điểm
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Score)
            @Html.ValidationMessageFor(model => model.Score)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileUserId, "Người dùng")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>

        <p>
            <input type="submit" value="Tạo mới" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Về lại danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
