﻿@model WEB_FINAL_PROJECT_YOURTIMETABLE.Models.Timetable

@{
    ViewBag.Title = "Details";
}

<h2>Thông Tin Lịch Biểu</h2>

<fieldset>
    @*<legend>Timetable</legend>*@

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.DayOfTimetable)*@
        Thời Gian
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DayOfTimetable)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.NumberOfJob)*@
        Số Lượng Công Việc
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfJob)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Completion)*@
        Số Công Việc Đã Hoàn Thành
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Completion)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.Score)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Score)
    </div>*@

   @* <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>*@
</fieldset>
<fieldset>
    <legend><h3>Chọn ngày:</h3></legend>
    @foreach (var job in Model.Jobs)
    {
        <ol>
            <li>
                <div class="display-field">
                    @Html.DisplayFor(x => job.TimeOfJob);
                    @Html.DisplayFor(x => job.Content);
                    @Html.DisplayFor(x => job.Place);
                </div>
            </li>
        </ol>
    }
</fieldset>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Về lại danh sách", "Index")
</p>
