﻿@model WEB_FINAL_PROJECT_YOURTIMETABLE.Models.Timetable

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Timetable</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.DayOfTimetable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DayOfTimetable)
            @Html.ValidationMessageFor(model => model.DayOfTimetable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfJob)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfJob)
            @Html.ValidationMessageFor(model => model.NumberOfJob)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Completion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Completion)
            @Html.ValidationMessageFor(model => model.Completion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Score)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Score)
            @Html.ValidationMessageFor(model => model.Score)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileUserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
