﻿@model IEnumerable<WEB_FINAL_PROJECT_YOURTIMETABLE.Models.Timetable>

@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Lịch Biểu</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table>
    <tr>
        <th>
            Thời Gian
            @*@Html.DisplayNameFor(model => model.DayOfTimetable)*@
        </th>
        <th>
            Số Lượng Công Việc
            @*@Html.DisplayNameFor(model => model.NumberOfJob)*@
        </th>
        <th>
            Số Công Việc Đã Hoàn Thành
            @*@Html.DisplayNameFor(model => model.Completion)*@
        </th>
        <th>
            Điểm
            @*@Html.DisplayNameFor(model => model.Score)*@
        </th>
        <th>
            
            @*@Html.DisplayNameFor(model => model.UserProfile.UserName)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DayOfTimetable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfJob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>*@
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
