﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>*@
    <h1><b>Chào mừng bạn đến với Yourtimetable</b></h1>
</hgroup>

<section class="giupdo">
   @* <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>*@
    Để bắt đầu quản lý thời gian của bạn, hãy làm theo những công việc sau:
    <li>Truy cập đến lịch biểu để tiến hành sắp xếp thời gian biểu trong 1 ngày của bạn     @Html.ActionLink("Lịch biểu", "Index", "Timetable")</li>
    <li>Truy cập vào sự kiện để ghi chú những sự kiện quan trọng bạn cần ghi nhớ    @Html.ActionLink("Sự kiện", "Index", "Event")</li>
    Hi vọng tiện ích này sẽ giúp bạn quản lý tốt thời gina của bạn hơn
</section>
@*<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>*@